@font-face {
  font-family: 'fontello';
  src: url('fonts/fontello.eot?96853236');
  src: url('fonts/fontello.eot?96853236#iefix') format('embedded-opentype'),
       url('fonts/fontello.woff2?96853236') format('woff2'),
       url('fonts/fontello.woff?96853236') format('woff'),
       url('fonts/fontello.ttf?96853236') format('truetype'),
       url('fonts/fontello.svg?96853236#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?96853236#fontello') format('svg');
  }
}
*/
 
 [class^="pw-icon-"]:before, [class*=" pw-icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.pw-icon-menu:before { content: '\e800'; } /* '' */
.pw-icon-gplus:before { content: '\e801'; } /* '' */
.pw-icon-doc-text:before { content: '\e802'; } /* '' */
.pw-icon-spotify:before { content: '\e803'; } /* '' */
.pw-icon-apple:before { content: '\e809'; } /* '' */
.pw-icon-down-open-big:before { content: '\e80b'; } /* '' */
.pw-icon-angle-down:before { content: '\e80c'; } /* '' */
.pw-icon-circle-empty:before { content: '\e80d'; } /* '' */
.pw-icon-check:before { content: '\e80f'; } /* '' */
.pw-icon-check-empty:before { content: '\e810'; } /* '' */
.pw-icon-plus:before { content: '\e823'; } /* '' */
.pw-icon-facebook:before { content: '\e825'; } /* '' */
.pw-icon-twitter:before { content: '\e826'; } /* '' */
.pw-icon-linkedin-squared:before { content: '\e827'; } /* '' */
.pw-icon-pinterest-circled:before { content: '\e829'; } /* '' */
.pw-icon-github-circled:before { content: '\e82a'; } /* '' */
.pw-icon-behance:before { content: '\e82b'; } /* '' */
.pw-icon-dribbble:before { content: '\e82c'; } /* '' */
.pw-icon-lastfm:before { content: '\e82e'; } /* '' */
.pw-icon-rss:before { content: '\e82f'; } /* '' */
.pw-icon-vimeo-squared:before { content: '\e830'; } /* '' */
.pw-icon-forrst:before { content: '\e831'; } /* '' */
.pw-icon-skype:before { content: '\e832'; } /* '' */
.pw-icon-picasa:before { content: '\e833'; } /* '' */
.pw-icon-youtube-play:before { content: '\e834'; } /* '' */
.pw-icon-flickr:before { content: '\e835'; } /* '' */
.pw-icon-tumblr:before { content: '\e836'; } /* '' */
.pw-icon-blogger:before { content: '\e837'; } /* '' */
.pw-icon-delicious:before { content: '\e838'; } /* '' */
.pw-icon-digg:before { content: '\e839'; } /* '' */
.pw-icon-wordpress:before { content: '\e83b'; } /* '' */
.pw-icon-stackoverflow:before { content: '\e83c'; } /* '' */
.pw-icon-foursquare:before { content: '\e83d'; } /* '' */
.pw-icon-xing:before { content: '\e83e'; } /* '' */
.pw-icon-sina-weibo:before { content: '\e83f'; } /* '' */
.pw-icon-soundcloud:before { content: '\e840'; } /* '' */
.pw-icon-fivehundredpx:before { content: '\e841'; } /* '' */
.pw-icon-slideshare:before { content: '\e842'; } /* '' */
.pw-icon-android:before { content: '\e843'; } /* '' */
.pw-icon-windows:before { content: '\e845'; } /* '' */
.pw-icon-vkontakte:before { content: '\e846'; } /* '' */
.pw-icon-myspace:before { content: '\e847'; } /* '' */
.pw-icon-meetup:before { content: '\e848'; } /* '' */
.pw-icon-reddit:before { content: '\e84a'; } /* '' */
.pw-icon-stumbleupon-circled:before { content: '\e84b'; } /* '' */
.pw-icon-path:before { content: '\e84c'; } /* '' */
.pw-icon-dropbox:before { content: '\e84d'; } /* '' */
.pw-icon-deviantart:before { content: '\e850'; } /* '' */
.pw-icon-grooveshark:before { content: '\e851'; } /* '' */
.pw-icon-steam:before { content: '\e853'; } /* '' */
.pw-icon-quora:before { content: '\e854'; } /* '' */
.pw-icon-angellist:before { content: '\e855'; } /* '' */
.pw-icon-icq:before { content: '\e856'; } /* '' */
.pw-icon-vine:before { content: '\e863'; } /* '' */
.pw-icon-left-open-big:before { content: '\e86d'; } /* '' */
.pw-icon-right-open-big:before { content: '\e86e'; } /* '' */
.pw-icon-up-open-big:before { content: '\e86f'; } /* '' */
.pw-icon-circle:before { content: '\e870'; } /* '' */
.pw-icon-circle-thin:before { content: '\e88d'; } /* '' */
.pw-icon-minus:before { content: '\e89a'; } /* '' */
.pw-icon-instagram:before { content: '\e8cc'; } /* '' */
.pw-icon-snapchat:before { content: '\f2ac'; } /* '' */
.pw-icon-imdb:before { content: '\f2d8'; } /* '' */